{% extends 'common/base.html' %}
{% load static %}

{% block title %}Teams dasgboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/teams-dashboard.css' %}">
{% endblock %}

{% block content %}

    <div class="grid grid-cols-5 gap-1 ">
        <a href="{% url 'create-team' %}" class="p-3">
            <button type="button" id="redirectTeamBtn" class="transition-transform duration-200 hover:scale-110">
                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="40px" width="40px" version="1.1" id="Capa_1" viewBox="0 0 32 32" xml:space="preserve">
                        <g>
                            <g id="plus_x5F_alt">
                                <path style="fill:lime;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M24,18h-6v6h-4v-6H8v-4    h6V8h4v6h6V18z"/>
                            </g>
                        </g>
                    </svg>
            </button>
        </a>
        <h1 class="text-white text-center md:text-5xl lg:text-2xl m-5 col-span-3 " id="h1">TEAMS DASHBOARD</h1>
    </div>

    <div class="lg:grid grid-cols-5 gap-5 p-5 block">
        {% for team in teams %}
            <a href="{% url 'teams-details-page' team.pk %}">
            <div class="teamCardContainer">
                <h1 class="text-center lg:text-lg md:text-2xl">{{ team.name }}</h1>
                <div class="teamLogoContainer"><img src="{{ team.logo.url }}" alt="" class="teamLogo"></div>
                <p>Rank: {{ team.rank }}</p>
                <p>History: {{ team.history }}</p>
                <p>Founded: {{ team.date_founded }}</p>
            </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/nav.js' %}"></script>
{% endblock %}