body > div:nth-child(2){
    background-image: url("../images/player.d2578365fed2.png")!important;
}

.card-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    padding-right: 30px;
    background-color: darkslategrey;
    border-radius: 15px;
    opacity: 0.9;
}

.card-content {
    display: flex;
    width: 100%;
}

.card-details {
    width: 70%;
    flex-grow: 1;
    padding-left: 30px;
    height: 350px;
}

.card-content > div {
    width: 30%;
}

.card-content > div form {
    width: 100%;
}

.buttons {
    display: flex;
    background-color: inherit;
    opacity: 0.9;
}

.card-details p {
    background-color: #ffffcc;
    color: #00363a;
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px solid #222222;
}

.card-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#buttonUploadImage {
    width: 100%;
}

@media (max-width: 480px) {
    .card-container {
        display: block;
        width: 90%;
        min-height: fit-content;
        font-size: 1rem;
        padding: 5px;
    }

    .card-container > h1 {
        text-align: center;
        margin-top: 10px;
    }

    .card-content {
        display: block;
    }

    .card-content > div {
        width: 100%;
        margin-top: 20px;
    }

    .card-image-container {
        margin-bottom: 80px;
    }

    .card-image {
        width: 50%;
        height: auto;
        justify-self: center;
        overflow: hidden;
        border-radius: 35px;
    }

    #playerImg {
        justify-self: center;
        width: 35%;
    }

    #buttonUploadImage {
        display: block;
        width: 50%;
        margin: 5px auto;
    }

    .card-details {
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .card-details > p:nth-child(2) {
        height: 40px;
    }

    .buttons {
        margin-top: -90px;
        justify-content: center;

    }

}