.matches-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    width: 35%;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkslategrey;
    border-radius: 15px;
    opacity: 0.9;
}

#h1 {
    font-family: "Sour Gummy", sans-serif !important;
}

.game-row {
    display: flex;
    justify-content: space-between;
    background-color: #bbf7d0;
    width: 75%;
    margin-bottom: 10px;
    padding: 0 15px;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
}

.game-row:hover {
    height: 30px; /* Make the height noticeable */
    font-size: 16px;
    background-color: #d4edda;
    align-items: center;
}

.vs {
    color: #FF0000;
    margin: 0 5px;
    font-weight: bold;
}

.result-home {
    color: #003366;
    margin: 0 5px;
}

.result-away {
    color: #003366;
    margin: 0 5px;
}

.home-team {
    width: 30%;
    flex-grow: 1;
}

.away-team {
    width: 30%;
    text-align: right;
    flex-grow: 1;
}

.status {
    display: flex;
    overflow: visible;
    align-items: center;
    justify-self: end;
    padding: 0 0 0 10px;
}

.legend  {
    display: flex;
    gap: 10px;
    justify-items: end;
    margin-top: auto;
}

.legendChildrenDivs {
    display: flex;
    gap: 5px;
    align-items: center;
    color: lemonchiffon;
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px 0;
    font-weight: bold;
}

.pagination a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination span {
    font-weight: bold;
}

.legendChildrenDivs {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.legendChildrenDivs p {
    margin-left: 10px;
}

.infoBox {
    margin-top: auto;
}

#pages {
    color: #d4edda;
}

@media (max-width: 480px) {
    .matches-container {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
        width: 90%;
        min-height: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: darkslategrey;
        border-radius: 15px;
        opacity: 0.9;
    }

    #h1 {
        font-size: 2rem;
    }

    .game-row {
        width: 95%;
        margin-bottom: 10px;
        padding: 0 8px;
    }

    .legendChildrenDivs {
        display: flex;
        gap: 1px;
        align-items: center;
        color: lemonchiffon;
        font-size: 0.4rem;
        padding: 4px;
    }

    .legendChildrenDivs p {
        margin-left: 4px;
    }
}



