{% extends 'common/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Tournaments dasgboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/tournaments-dashboard.css' %}">
{% endblock %}


{% block content %}

    {% if can_create %}
        <div class="grid grid-cols-5 gap-1 ">
        <a href="{% url 'tournament-create' %}" class="p-3">
            <button type="button" id="redirectTeamBtn" class="transition-transform duration-200 hover:scale-110">
                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="40px" width="40px" version="1.1" id="Capa_1" viewBox="0 0 32 32" xml:space="preserve">
                        <g>
                            <g id="plus_x5F_alt">
                                <path style="fill:lime;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M24,18h-6v6h-4v-6H8v-4    h6V8h4v6h6V18z"/>
                            </g>
                        </g>
                    </svg>
            </button>
        </a>
        <h1 class="text-white text-center text-2xl m-5 col-span-3" id="h1">Tournaments</h1>
    </div>
    {% endif %}

    <div class="matches-container col-span-3">
        <div class="matches-at-play">
            <h4 class="text-white text-center pb-2">Ended</h4>
            {% for t in ended_games %}
                <p class="t-row">{{ t }}</p>
            {% endfor %}
        </div>
        <div class="matches-at-play">
            <h4 class="text-white text-center pb-2">At play</h4>
            {% for t in at_play_games %}
                <p class="t-row">{{ t }}</p>
            {% endfor %}
        </div>
        <div class="matches-at-play">
            <h4 class="text-white text-center pb-2">Coming soon</h4>
            {% for t in coming_soon_and_postponed %}
                <p class="t-row">{{ t }}</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}