{% extends 'teams/base.html' %}
{% load static %}

{% block title %}Create a team{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/teams-dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="w-96 h-2/3 p-5">
        <form method="post" action="{% url 'create-team' %}">
            {% csrf_token %}
            {% for field in create_team_form %}
                <p class="w-full mb-2">
                    {{ field }}
                </p>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                        <p>{{ field.name }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <button type="submit" class="bg-teal-600 hover:bg-teal-700 p-1 rounded-lg" id="CreateTeamBtn">
                Create team
            </button>
        </form>
    </div>
{% endblock %}


