.create-match-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: black;
    width: 35%;
    min-height: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: darkslategrey;
    border-radius: 15px;
    opacity: 0.9;
}

.match-container-row {
    display: flex;
    width: 60%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid black;
}

.row-label {
    width: 65%;
    background-color: #ffffcc;;
    padding-left: 10px;
}

.row-value {
    width: 35%;
}

.row-value input{
    width: 100%;
    padding-left: 5px;
}

.row-value select{
    width: 100%;
    padding-left: 5px;
    height: 100%;
}