{% extends 'common/base.html' %}
{% load static %}

{% block title %}Player details{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/details-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/teams-details-page.css' %}">
{% endblock %}

{% block content %}
    {% include 'common/delete-confirmation.html' %}

    <div class="card-container">
        <h1 class="text-2xl justify-self-center">Player's details</h1>
        <br>

        <div class="card-content">
            <div>
                {# IMAGE PLACEHOLDER #}
                <div class="card-image">
                    {% if player.image %}
                        <img src="{{ player.image.url }}" alt="Profile Image">
                    {% else %}
                        <img src="{{ MEDIA_URL }}profile_images/default_profile.png" alt="Default Profile Image">
                    {% endif %}
                </div>
                {# chose image BUTTON and upload BUTTON #}
                {% if request.user.is_authenticated and request.user.pk == player.pk %}
                    <form action="{% url 'update-player-image' player.pk %}" method="POST" enctype="multipart/form-data" style="display:block; float:left">
                        {% csrf_token %}
                        <p class="pt-2"  id="playerImg">{{ form.image }}</p>
                        <button type="submit" id="buttonUploadImage"
                            class="px-2 my-2 text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Confirm image
                        </button>
                    </form>
                {% endif %}
            </div>

            {# PROFILE DETAILS #}
            <div class="card-details">
                <p><strong>Username: </strong>{{ player.username }}</p>
                <br>
                {% if player.get_full_name %}
                    <p><strong>Name: </strong>{{ player.get_full_name }}</p>
                {% else %}
                    <p><strong>Name: </strong></p>
                {% endif %}
                <br>
                <p><strong>Phone number: </strong>{{ player.tel }}</p>
                <br>
                <p><strong>Email: </strong>{{ player.email }}</p>
                <br>
                {% if player.team %}
                    <p><strong>Team: </strong>{{ player.team }}</p>
                {% else %}
                    <p><strong>Team: </strong>Still not in any team!</p>
                {% endif %}
                <br>
                <p><strong>Joined on: </strong>{{ player.date_joined }}</p>
            </div>
        </div>

        {% if request.user.is_authenticated and request.user.pk == player.pk %}
            <div class="buttons">
                {# UPDATE BUTTON #}
                <a href="{% url 'update-player' request.user.pk %}"
                   class="px-2 my-2 text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    Update
                </a>
                {# DELETE BUTTON #}
                <form action="{% url 'delete-player' player.pk %}" method="POST" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" id="deleteTeamBtn"
                        class="px-2 my-2 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-2 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        Delete
                    </button>
                </form>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/detailsPlayer.js' %}"></script>
    <script src="{% static 'js/delete-confirmation.js' %}"></script>
{% endblock %}
