{% extends 'common/base.html' %}
{% load static %}

{% block title %}Player details{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reset-password-player.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" class="text-stone-50 " id="form-wrapper">

        <h1 class="#">Reset Password</h1>

        {% csrf_token  %}

        {% for field in form %}
            <div class="form-row">
                <p class="form-input">{{ field }}</p>
            </div>
            {% if field.errors %}
                <p class="error">
                    {{ field.errors.as_text }}
                </p>
            {% endif %}
        {% endfor %}

        <button class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-xl my-5 w-2/5">Submit</button>

    </form>
{% endblock %}

{% block script %}
{% endblock %}