{% extends 'common/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login-page.css' %}">
{% endblock %}

{% block content %}

    <form method="POST" class="text-stone-50 " id="form-wrapper">
        <h1 class="my-2 text-3xl">Login</h1>
        {% csrf_token  %}
        {% for error in form.non_field_errors %}
            <p class="text-white-300 bg-red-400 px-2 rounded-lg mb-2">{{ error }}</p>
        {% endfor %}
        {% for field in form %}
            <div class="my-2 w-2/3">
                <p class="form-input">{{ field }}</p>
            </div>
        {% endfor %}
        <button class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-xl my-5 w-2/3">Submit</button>
    </form>

{% endblock %}