{% load static %}

<footer>
     <div>
        <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <div>
        <a href="https://www.instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
    <div>
        <a href="https://www.tiktok.com" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </div>
    <div>
        <a href="https://www.linkedin.com" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <div>
        <a href="#" target="_blank">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>




</footer>