
.form-help-text {
    font-size: 12px;
    font-style: italic;
    color: #f5dd5d;
}

.form-input {
}


body > #base {
    display: flex;
    background-image: url('../images/player.png') !important;
    align-items: center;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #50666b;
    width: 600px;
    min-height: 220px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 10px 29px 8px rgba(0, 0, 0, 0.40);
    opacity: 0.9;
}

#form-wrapper > h1 {
    padding: 15px 0 10px 0;
}

.form-row {
    width: 80%;
}

.error {
    color: red;
    background-color: #f5dd5d;
    margin: 15px 0;
    padding: 5px 15px;
    border-radius: 8px;
}

@media (max-width: 480px) {
    #form-wrapper {
        width: 90%;
        margin-top: 15px;
        min-height: 250px;
    }

}